<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714229484166-klgo8el70en2r2r2cg67n5vkegk109oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714229484166-klgo8el70en2r2r2cg67n5vkegk109oh</string>
	<key>API_KEY</key>
	<string>AIzaSyATAeY1XVz6FKKp4uGjVh0ge1y0uSczk6A</string>
	<key>GCM_SENDER_ID</key>
	<string>714229484166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcantop.TicTacToeMultiplayer</string>
	<key>PROJECT_ID</key>
	<string>tictactoemultiplayer-b5883</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoemultiplayer-b5883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714229484166:ios:f8944907e33b805150df07</string>
</dict>
</plist>